.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*body {
    font-family: 'Fira Sans';font-size: 22px;
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*.google-map-js {
  position: relative;
  top: 80px;
}*/

#report-mini-map {
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin-bottom: 12px;
}

.navbar {
  width: 100%;
  color: white;
  background-color: blue;
  position: relative;
  padding-top: 12px;
  padding-bottom: 10px;
}

.nav-header {
  text-align: center;
  color: white;
}

.header-menu-container {
  position:absolute;
  top: 8px;
  left: 0;
}

.navbar-container {
  position: fixed;
  top: 0px;
  width: 100%;
}


.report {
  text-align: left;
}

.report-pic {
  clear: both;
  padding-bottom: 12px;
  image-orientation: from-image;  /*this doesn't work, THANKS CHROME */

}

div.ui.right.labeled.button {  /* say thanks button */
  margin-top: 12px;
}




@media only screen and (max-width: 768px) {
  div.reports-container-column.dont.override.my.css {
    width: 90%;
  }
}

.new-report-form-buttons {
  margin-top: 12px;
}

.main-page {
  width: 100%;
}

.ui.horizontal.segments {
  margin-top: 0px;
}

.login-box {
  margin-top: 12px;
}
